/*About page*/
.two-column-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.profile-image-wrapper img {
    width: 100%;
    height: 100%;
}
.profile-image-wrapper {width: 50%}

.profile-content-wrapper {
    padding: 60px;
    width: calc(50% - 120px);
}

.profile-content-wrapper p {
    color: #cdc764;
    font-size: 1.3em;
}

.profile-content-wrapper h1 {
    font-size: 2.5em;
    color: #0ffbf9;
}

@media (max-width: 1177px) {
    .portfolio-items-wrapper {flex-direction: column}
    .portfolio-item-wrapper {width: 100%}
    .two-column-wrapper div {width: 100%}
    .profile-content-wrapper p {font-size: 1.5em}
    .portfolio-img-background {height: 250px}
}