.contact-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    width: 70vw;
    border: 3px solid var(--contact-input-border);
}

.contact-us-panel {
    padding: 1px;
    margin: 0 auto;
    border-bottom: 3px solid var(--contact-input-border);
    background: var(--contact-panel);
}

.contact-us-panel p {
    text-align: center;
    text-shadow: 4px 1px var(--contact-green-glitch), -4px 1px var(--contact-red-glitch);
    color: var(--high-emphases-text-color);
    font-size: 2.5em;
}

.contact-form label {
    color: var(--contact-me-label);
    font-size: 2em;
}

.contact-form input[type=text], .contact-form input[type=email], .contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid var(--contact-input-border);
    box-sizing: border-box;
    resize: vertical;
    background-color: var(--contact-background);
    color: var(--secondary-color);
    outline: none;
    font-size: 0.6em;
}

.input-div {
    margin: 20px;
    border: none;
}

.contact-form input[type=text]:hover, .contact-form input[type=email], .contact-form textarea:hover {outline: none}

.submit-btn {
    padding: 6px 16px 6px 16px;
    background-color: var(--cta-color);
    background: linear-gradient(to right, var(--cta-color) 50%, var(--primary-color) 50%) left;
    background-size: 200%;
    color: white;
    border-color:transparent;
    font-size: 2.5em;
    transition: all 0.25s ease;
}

.submit-btn:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    background-position: right;
    color: var(--cta-color);
}

#submit-button-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

.contact-form {
    padding: 20px;
    margin: 0 auto;
    background-color: var(--contact-background);
}

.error {
    color: red;
    font-size: 14px;
}

.input-info {margin-right: 10px}

/* contact pop up */
#messageBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: flex;
}

.message-content {
    margin: auto;
    padding: 20px;
    border: none;
    background-color: var(--secondary-color);
    width: auto;
    text-align: center;
    font-size: 1.5em;
}

.message-content img {
    width: auto;
    height: 5vw;
}

@media (max-width: 973px) {
    .contact-us-panel p {
        text-shadow: 3px 1px var(--contact-green-glitch), -3px 1px var(--contact-red-glitch);
        font-size: 2em;
    }
    .contact-form label {font-size: 1.3em}
    .submit-btn {font-size: 2em}
}

@media (max-width: 927px) {
    .message-content {
        font-size: 1em;
        width: 55vw;
    }
}

@media (max-width: 847px) {
    .contact-us-panel p {font-size: 1.75em}
    .submit-btn {font-size: 1.75em}
}

#close {
    color: #aaaaaa;
    float: right;
    margin-top: -10px;
    font-size: 1.5em;
    font-weight: bold;
}

#close:hover, #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}