.two-col-wrapper {
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.home-page-message p {
    text-align: left;
    color: var(--secondary-color);
    font-size: 5em;
    margin: 2vw;
}

#name {
    text-transform: uppercase;
    color: var(--red-color);
}

.portfolio-button-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px;
}

.portfolio-button{
    text-align: center;
    position: relative;
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.3em;
    border: 3px solid var(--cta-color);
    padding: 16px 25px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s all ease;
}

.portfolio-button::before{
    background: var(--cta-color);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: all 0.6s ease;
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.portfolio-button:hover::before{height: 450%}

/* connect4 */

#connect4, #restart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game_board td {
    border: 1px solid #808080;
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%
}

.piece {cursor: default !important}

.black {background: var(--black-piece)}

.red {background: var(--red-piece)}

#restart, .aiBtn {
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--secondary-color);
    font-size: 1.1em;
    border: none;
    margin: 10px;
}

#message-to-player {
    color: var(--secondary-color);
    font-size: 1.1em;
    border: none;
    margin: 10px;
}

.panel {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

@media (max-width: 877px) {
    .home-page-message {margin-bottom: 30px}
}

@media (max-width: 506px) {
    #game_board td {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 388px) {
    #game_board td {
        width: 30px;
        height: 30px;
    }
    .portfolio-button {font-size: 1em}
    .portfolio-button{padding: 15px 25px;}
    .home-page-message p {font-size: 1em}
}

@media (max-width: 304px) {
    #game_board td {
        width: 20px;
        height: 20px;
    }
}