.portfolio-items-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    min-width: 100vw;
    animation: fadeIn ease 0.5s;
}

.button > .prev, .button > .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    z-index: 4;
}

.button > .prev {animation: previousButtonSlideIn ease 1.5s}

.button > .next {animation: nextButtonSlideIn ease 1.5s}

@keyframes previousButtonSlideIn {
    0% {left: -50%;}
    100% {left: 0%;}
}

@-moz-keyframes previousButtonSlideIn {
    0% {left: -50%;}
    100% {left: 0%;}
}

@-webkit-keyframes previousButtonSlideIn {
    0% {left: -50%;}
    100% {left: 0%;}
}
  
@-o-keyframes previousButtonSlideIn {
    0% {left: -50%;}
    100% {left: 0%;}
}
  
@-ms-keyframes previousButtonSlideIn {
    0% {left: -50%;}
    100% {left: 0%;}
}


@keyframes nextButtonSlideIn {
    0% {right: -50%;}
    100% {right: 0%;}
}

@-moz-keyframes nextButtonSlideIn {
    0% {right: -50%;}
    100% {right: 0%;}
}

@-webkit-keyframes nextButtonSlideIn {
    0% {right: -50%;}
    100% {right: 0%;}
}
  
@-o-keyframes nextButtonSlideIn {
    0% {right: -50%;}
    100% {right: 0%;}
}
  
@-ms-keyframes nextButtonSlideIn {
    0% {right: -50%;}
    100% {right: 0%;}
}

.button > .next {right: 0}
.button > .prev {left: 0}

.button > .next img, .button > .prev img {
    height: auto;
    width: 50px;
    border-radius: 50%;
    filter: brightness(0%) invert(1);
    transition: all 0.2s ease;
}

.button > .prev img:hover, .button > .next img:hover {filter: brightness(0%) invert(0.1)}
.button > .next img:hover {transform: rotate(360deg) scale(1.15)}
.button > .prev img:hover {transform: rotate(-360deg) scale(1.15)}

.dot {
    cursor: pointer;
    height: 16px;
    width: 40px;
    margin: 10px;
    background-color: transparent;
    display: inline-block;
    border: 3px solid var(--secondary-color);
}

#dots {margin-top: 10px}
  
.active, .dot:hover {
    transition: all 0.2s ease-in;
    background-color: var(--secondary-color);
}

.portfolio-item-wrapper {
    z-index: 4;
    width: calc(100% / 3);
    position: relative;
    justify-content: center;
    align-items: center;
}

.portfolio-link {display: block}

.portfolio-item-wrapper:hover {
    z-index: 0;
    transform: scale(1.13);
    transition: all 0.5s ease;
}

.portfolio-img-background {
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    width: calc(100% - 200px);
}

.logo-wrapper img{
    width: 15vh;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-size: 0.7em;
    font-weight: 600;
    color: transparent;
    width: 30vw;
}

.img-text-wrapper:hover .subtitle {color: var(--green-color)}

.img-darken {
    transition: 1s;
    filter: brightness(20%);
}