* {
    letter-spacing: 1.5px;
    font-family: 'Orbitron', sans-serif;
}

:root {
    --primary-color:#121212;
    --secondary-color:#FEFEFE;

    --cta-color:#FF0038;

    --red-color: #CC0F39;
    --green-color: #0FFBF9;

    --about-me-title:#0FFBF9;
    --contact-me-label:#0FFBF9;
    --about-me-description:#CDC764;

    --high-emphases-text-color: rgba(255, 255, 255, 0.89);
    --medium-emphases-text-color: rgba(255, 255, 255, 0.6);
    --disabled-text-color: rgba(255, 255, 255, 0.38);

    --contact-background:#121212;
    --contact-input-border:#37383B;
    --contact-input-placeholder:#35383B;
    --contact-input-hover:#2B2B2B;
    --contact-panel:#272121;
    --contact-green-glitch:var(--green-color);
    --contact-red-glitch:var(--red-color);

    --black-piece:#333;
    --red-piece:#DC143C;
}

.light-theme {
    --primary-color:#FEFEFE;
    --secondary-color:#121212;

    --about-me-title:#00539C;
    --contact-me-label:#00539C;
    --about-me-description:#4b371c;/*#542e22;#85583f;*/

    --high-emphases-text-color: rgba(0, 0, 0, 0.87);
    --medium-emphases-text-color: rgba(0, 0, 0, 0.7);
    --disabled-text-color: rgba(0, 0, 0, 0.38);
    
    --contact-background:#FEFEFE;
    --contact-input-border:#37383B;
    --contact-input-placeholder:#35383B;
    --contact-input-hover:#FAFAFA;
    --contact-panel:#FAFAFA;
}

html {scroll-behavior: smooth}

body {
    background-color: var(--primary-color);  
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(1.1);
    }
    100% {
        opacity:1;
        transform: scale(1);
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(1.1);
    }
    100% {
        opacity:1;
        transform: scale(1);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(1.1);
    }
    100% {
        opacity:1;
        transform: scale(1);
    }
}
  
@-o-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(1.1);
    }
    100% {
        opacity:1;
        transform: scale(1);
    }
}
  
@-ms-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(1.1);
    }
    100% {
        opacity:1;
        transform: scale(1);
    }
}

/* header */
#nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

#left-side {display: flex}

#nav-wrapper #left-side > div{
    margin: 0 10px 0 0;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

#nav-wrapper #left-side > div > a {text-decoration: none}

#nav-wrapper #right-side .brand > a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

#right-side {
    display: flex;
    align-items: center;
}

.brand {padding: 5px 10px 5px 10px}

.fas {
    font-size: 1.35em !important;
    color: var(--secondary-color);
}

.nav-link-wrapper {
    border: 3px solid transparent;
    padding: 5px 10px 5px 10px;
    transition: border 0.5s;
}

.nav-link-wrapper a {
   color: darkgrey;
   text-decoration: none;
   transition: color 0.5s;
}

#toggle-icon {
    border: 3px solid transparent;
    cursor: pointer;
}

.nav-link-wrapper a:focus {outline: none}
.active-nav-link, .nav-link-wrapper:hover {border: 3px solid var(--secondary-color)}
.active-nav-link a, .nav-link-wrapper a:hover{color:var(--secondary-color) !important}

/*Portfolio Styles*/
.content-wrapper {
    display: flex;
    min-width: fit-content;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
}

* {
    scrollbar-width: thin;
    scrollbar-color: gray #000d0d;
}

*::-webkit-scrollbar {width: 7px}
*::-webkit-scrollbar-track {background: #000d0d}
*::-webkit-scrollbar-thumb {background-color: gray}


/* footer */
#footer {
    height: fit-content;
    color: var(--secondary-color);
    text-align: center;
}

.copyright p {
    font-size: 1.3em;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.social-link {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.fab {
    padding: 20px;
    width: 15px;
    height: 15px;
    text-decoration: none;
    margin: 5px 10px;
    color: whitesmoke;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.fab:focus {outline: none}
  
.fab:hover {
    transform: rotate(360deg) scale(1.3);
    background: whitesmoke;
}

.fa-facebook-f {background: #3B5998}
.fa-facebook-f:hover {color: #3B5998}
.fa-linkedin-in {background: #007bb5}
.fa-linkedin-in:hover {color: #007bb5}

.fa-instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

.fa-instagram:hover {color: #dc2743}
.fa-google {background-color: #ea4335}
.fa-google:hover {color: #ea4335}
.fa-github {background-color: #282a36}
.fa-github:hover {color: #282a36}

@media (max-width: 1235) {.ring {border: 1px}}

/* phones */
@media (max-width: 800px) and (min-width: 100px) {
    .portfolio-items-wrapper {flex-direction: column}
    .portfolio-item-wrapper {width: 100%}
    .img-text-wrapper .subtitle {width: 50vw}
    .profile-image-wrapper img {width: 50%}
    .portfolio-img-background {height: 250px}
    #nav-wrapper {display: block}
    #left-side, #right-side {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .logo-wrapper img{
        width: 10vh;
        margin-bottom: 20px;
    }
    .img-text-wrapper .subtitle {font-size: 1em}
    .start-button-wrapper #start-button {font-size: 2.5em}
    .start-button-wrapper #start-button:hover {font-size: 3em}
    .dot {
        height: 10px;
        width: 20px;
    }
}

@media (max-width: 877px) and (min-width: 498px) {
    .home-page-message p {
        font-size: 4em;
        text-align: center;
    }
    .two-col-wrapper {
        justify-content: center;
        display: block;
    }
}

@media (max-width: 503px) {
    .fa {
        width: 10px;
        height: 10px;
        margin: 5px;
        font-size: 0.75em !important;
    }
}

@media (max-width: 498px) and (min-width: 100px) {
    .contact-us-panel p, .contact-form label, .submit-btn {font-size: 1.5em}
    .dot {display: none}
    #left-side, #right-side {
        display: grid;
        text-align: center; 
    }
    .two-col-wrapper {
        justify-content: center;
        display: block;
    }
    .home-page-message p {text-align: center}
    .social-link {display: block}
    #nav-wrapper #left-side > div{margin: 0 0 10px 0}
    .profile-content-wrapper h1 {font-size: 1.5em}
    .copyright p, #right-side .brand > a, #left-side > div, .profile-content-wrapper p {font-size: 1em}
    .logo-wrapper img{
        width: 10vh;
        margin-bottom: 5px;
    }
    .img-text-wrapper .subtitle {font-size: 0.7em}
    .home-page-message p {font-size: 3em}
    .start-button-wrapper #start-button {font-size: 2.5em}
    .start-button-wrapper #start-button:hover {font-size: 3em}
}

@media (max-width: 301px) {
    .fa {
        width: 6px;
        height: 6px;
        margin: 5px;
        font-size: 0.5em !important;
    }
}

@media (max-width: 286px) {
    .home-page-message p {font-size: 2em}
    .start-button-wrapper #start-button {font-size: 1.5em}
    .start-button-wrapper #start-button:hover {font-size: 2em}
}

/* tv */

@media (min-width: 1920px) {
    .copyright p, #right-side .brand > a, #left-side > div, .profile-content-wrapper p {font-size: 2.5em}
    .two-col-wrapper {align-items: center}
    .home-page-message p {font-size: 7em}
    .active-nav-link, .nav-link-wrapper:hover {border: 4px solid var(--secondary-color)}
    .contact-us-panel p, .contact-form label {font-size: 2.5em}
    .contact-form input[type=text], .contact-form textarea {
        margin-top: 16px;
        margin-bottom: 26px;
    }
    .submit-btn {
        padding: 15px 20px 15px 20px;
        font-size: 3em;
    }
    .social-link {padding-bottom: 50px}
    
    .fa {
        padding: 30px;
        width: 30px;
        height: 30px;
        margin: 5px 10px;
        font-size: 2em !important;
    }

    .img-text-wrapper .subtitle {font-size: 1.8em}
    .button > .next img, .button > .prev img {width: 150px}
    .start-button-wrapper #start-button {font-size: 5.5em}
    .start-button-wrapper #start-button:hover {font-size: 6em}
}

@media (min-width: 3840px) {
    .start-button-wrapper #start-button {
        padding: 35px;
        font-size: 6em;
        border-radius: 30px;
    }
    .home-page-message p {font-size: 9em}
    .start-button-wrapper #start-button:hover {font-size: 7em}
    .fa {
        padding: 50px;
        width: 50px;
        height: 50px;
        margin: 10px 15px;
        font-size: 3.5em !important;
    }
}