/*Master Styles*/
body {
    font-family: "Lato", sans-serif;
    /*
    background-image: url("./images/HTML_background/universe2.png");
    background-size: cover;
    background-repeat: no-repeat;
    */

    background-image: url("./images/HTML_background/universe.png");
    background-repeat: repeat;
    background-size: 120px 200px;

    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    overflow-x: hidden;
}

/*Nev Styles*/

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-wrapper > .right-side > div {
    color: whitesmoke;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
   color: #8a8a8a;
   text-decoration: none;
   transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid gold;
}

.nav-link-wrapper a:hover {
    color:whitesmoke;
}

.active-nav-link {
    border-bottom: 1px solid gold;
}

.active-nav-link a{
    color:whitesmoke !important;
}

/*Portfolio Styles*/
.content-wrapper {
    display: flex;
    min-width: fit-content;
    margin: auto;
}
.portfolio-items-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    min-width: 100vw;
    animation: slide-in-from-right 0.5s;
}

/*Work in a pair*/
@keyframes slide-in-from-left {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@keyframes slide-out-right {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

/*Work in a pair*/
@keyframes slide-out-left {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@keyframes slide-in-from-right {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

.button > .prev, .button > .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 26px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.button > .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.button > .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.button > .prev:hover, .button > .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.portfolio-item-wrapper {
    width: 33%;
    position: relative;
}

.portfolio-img-background {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    width: calc(100% - 200px);
}

.logo-wrapper img{
    width: 6rem;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
    width: 20vw;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/*About page*/
.two-column-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.profile-image-wrapper img {
    width: 100%;
    height: 100%;
}
.profile-image-wrapper {
    width: 50%;
}

.profile-content-wrapper {
    padding: 60px;
    width: calc(50% - 120px);
}

.profile-content-wrapper h1{
    color: lightseagreen;
}

.profile-content-wrapper p{
    color: gold;
}

.copyright p {
    font-size: 1.3em;
    text-transform: uppercase;
    color: whitesmoke;
}

@media (max-width: 700px) {
    .portfolio-items-wrapper {
        flex-direction: column;
    }
    .portfolio-item-wrapper {
        width: 100%;
    }
    .img-text-wrapper .subtitle {
        width: 50vw;
    }
    .two-column-wrapper div {
        width: 100%;
    }
}