.resume-container {
    margin: 15px;
    display: flex;
    width: 90%;
    justify-content: center;
    box-shadow: -5px 5px var(--contact-green-glitch), 5px -5px var(--contact-red-glitch);
    background-color: transparent;
    font-family: 'Montserrat', sans-serif !important;
}

#download-link {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 16px 10px 16px;
    margin: 15px;
    background-color: #059862;
    width: 280px;
}

.resume-download-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
}

#download-link:hover {
    background-color: #006d32;
    cursor: pointer;
}

.resume-section {padding: 20px}

.self-intro, .rows {text-align: center}

.personal-website {word-break: break-word}

.resume-fas {padding: 0 20px 0 0 !important}

.contact-info {
    display: flex;
    align-items: center;
    margin: 22px;
    word-break: break-word;
}

.resume-left {
    width: 30%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.resume-right {
    width: 70%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.education-level, .lecturer-name {
    font-weight: bolder;
    margin: 0 0 15px 0;
}

.refers {
    display: inline-flex;
    flex-wrap: wrap;
}

.refer-lecturer {
    margin: 0 25px 25px 0;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.section-title {
    margin: 0 0 25px 0;
    letter-spacing: 5.5px;
    text-transform: uppercase;
    text-shadow: 4px 1px var(--contact-green-glitch), -4px 1px var(--contact-red-glitch);
}

.name, .title {text-shadow: 3px 1px var(--contact-green-glitch), -3px 1px var(--contact-red-glitch)}

.medium-text {color: var(--medium-emphases-text-color)}

.interests {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.interest-fas {color: var(--secondary-color) !important}

.rows {margin: 15px}

.section {padding: 0 0 35px 0}

li {
    margin: 0 0 10px 0;
    color: var(--resume-list-text);
}

@media (max-width: 840px) {
    .resume-container {display: block}
    .resume-section {
        width:100%;
        padding: 0;
    }
    .section {padding: 20px}
}