<<<<<<< HEAD
<div class='content-wrapper'>
    <div class='two-row-wrapper'>
        <div class='profile-image-wrapper'><img src='images/others/about.jpg' alt='profile-picture'></div>
        <div class='profile-content-wrapper'>
            <h1>Bonjour! Je vous remercie de votre visite!</h1>
            <p>See that guy? It's me! I am Gervin Fung Da Xuen and I'm not a French</p>
            <p>I am an undergraduate studying Software Engineering. Java is my primary language in programming and currently I am trying to learn web development and python.</p>
            <p>Never in a million years would I have thought the subject that I once hated the most would become my hobby. My 1<sup>st</sup> Program, a.k.a. The 'Hello World' Program was written in C language during my foundation UTAR</p>
=======
<div class="content-wrapper">
    <div class="two-row-wrapper">
        <div class="profile-image-wrapper"><img src="images/others/about.jpg" alt="profile-picture"></div>
        <div class="profile-content-wrapper">
            <h1>Bonjour! Je vous remercie de votre visite!</h1>
            <p>See that guy? It's me! I am Gervin Fung Da Xuen and I'm not a French</p>
            <p>I am an undergraduate studying Software Engineering. Java is my primary language in programming and currently I am trying to learn web development and python.</p>
            <p>Never in a million years would I have thought the subject that I once hated the most would become my hobby. My 1<sup>st</sup> Program, a.k.a. The "Hello World" Program was written in C language during my foundation UTAR</p>
>>>>>>> main
            <p>However during that time I am not interested in programming, it wasn't until I decided to do some projects myself, that I discover programming can also be very fun, the sheer joy of making things in your own design is simply fantastic and frustrating</p>
            <p>The Projects in Portfolio Page are what I have programmed during my free time. Hoped you enjoyed!</p>
        </div>
    </div>
</div>