<div id="messageBackground">
    <div class="message-content">
        <span id="close-msg" class="close">&times;</span>
        <img id="tick" src="images/others/tick.jpg" alt="tick.jpg">
        <p>Your Message Has Been Successfully Sent!</p>
        <p>Thank You!</p>
    </div>
</div>
<div id="waitingBackground">
    <span id="close-waiting" class="close">&times;</span>
    <div class="waiting-content">
        <div class="loader"></div>
    </div>
</div>
<div class="content-wrapper">
    <div class="contact-wrapper">
        <div class="contact-us-panel">
            <p><b>Got something to ask or tell me?</b></p>
            <p><b>Just contact me!</b></p>
        </div>
        <div class="contact-form">
            <form id="my-contact-form" method="POST">
                <label class = "input-info" for="name">Hello, my name is</label>
                <span class="error" id="nameErr"></span>
                <label><div class="input-div"><input type="text" name="name" id="name" placeholder="Tony Stark" required></div></label>

                <label class="input-info" for="email">You can reach me at</label>
                <span class="error" id="emailErr"></span>
                <label><div class="input-div"><input type="email" name="email" id="email" placeholder="tonystark@gmail.com" required></div></label>

                <label class = "input-info" for="message">I would like to</label>
                <span class="error" id="messageErr"></span>
                <label><div class="input-div"><textarea name="message" id="message" placeholder="Ask you a question/Tell you something" rows="8" required></textarea></div></label>

                <div id="submit-button-wrapper"><input class="submit-btn" name="submit" type="submit" value="Send" id="submit-button"></div>
            </form>
        </div>
    </div>
</div>