<div class='two-col-wrapper'>
    <div class='home-page-message'><p>Hello</p><p>I am</p><p id='name'>Gervin</p></div>
    <div id='game'>
        <div>
            <div id='game-options'>
                <div class='game-option-container' id='connect4-button'><span class='game-option'>Connect4</span></div>
                <div class='game-option-container' id='tictactoe-button'><span class='game-option'>Tic Tac Toe</span></div>
            </div>
            <div id='connect4'>
                <div>
                    <div class='panel'>
                        <div><label class='aiBtn game-label'>Red as AI:<input type='checkbox' id='redCheck'></label></div>
                        <div><button class='backBtn game-label'>Back</button></div>
                        <div><label class='aiBtn game-label'>Black as AI:<input type='checkbox' id='blackCheck'></label></div>
                    </div>
                    <div class='panel'><table style='border-spacing: 10px;' id='game_board' cellpadding='0'>{{#connect4}}{{this}}{{/connect4}}</table></div>
                    <div class='panel'>
                        <div><button id='connect4-restart' class='game-label'>Restart</button></div>
                        <div><p id='connect4-message-to-player' class='game-label'>Game started...</p></div>
                    </div>
                </div>
            </div>
            <div id='tictactoe'>
                <div>
                    <div class='panel'>
                        <div><label class='aiBtn game-label'>O as AI:<input type='checkbox' id='OCheck'></label></div>
                        <div><button class='backBtn game-label'>Back</button></div>
                        <div><label class='aiBtn game-label'>X as AI:<input type='checkbox' id='XCheck'></label></div>
                    </div>
                    <div class='game-panel'><div id='tic-tac-toe-wrapper'><table>{{#tictactoe}}{{this}}{{/tictactoe}}</table></div></div>
                    <div class='panel'>
                        <div><button id='tictactoe-restart' class='game-label'>Restart</button></div>
                        <div><p id='tictactoe-message-to-player' class='game-label'>Game started...</p></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class='portfolio-button-wrapper'>
    <a href='portfolio' class='portfolio-button'>View My Work</a>
</div>
