<div class='content-wrapper'>
    <div class='resume-container'>
        <div class='resume-left resume-section'>
            <section class='home section'>
                <div class='self-intro'>
                    <div class='profile-img'><img src='images/others/resume.jpg' alt='resume.jpg'></div>
                    <div class='name'><h2>Gervin Fung Da Xuen</h2></div>
                    <div class='title'><h2>Software Engineering Student</h2></div>
                    <div class='resume-download-container'><a id='download-link'>Download</a></div>
                    <div class='personal-website'><a href='https://poolofdeath20.herokuapp.com' target='blank' rel='noopener noreferrer'>https://poolofdeath20.herokuapp.com</a></div>
                </div>    

                <div class='contact'>
                    <div class='address contact-info'>
                        <div><i class='fas fa-map-marker-alt resume-fas'></i></div>
                        <div class='medium-text'>P.O Box 64 A308, Blok F Jalan Datuk Haji Yassin, Tenom, Sabah</div>
                    </div>
                    <div class='email contact-info'>
                        <div><i class='fas fa-envelope-square resume-fas'></i></div>
                        <div class='medium-text'>gervinfungdaxuen@gmail.com</div>
                    </div>
                    <div class='handphone contact-info'>
                        <div><i class='fas fa-phone resume-fas'></i></div>
                        <div class='medium-text'>011-5548-4654</div>
                    </div>
                </div>

            </section>          
            
            <!--========== SOCIAL ==========-->
            <section class='social section'>
                <h1 class='section-title'>Social</h1>
                <div><a href='https://www.linkedin.com/in/gervin-fung-387409209/' target='blank' rel='noopener noreferrer'><i class='fab fa-linkedin-in social-fab'></i><span class='medium-text'>Gervin Fung</span></a></div>
                <div><a href='https://www.facebook.com/GervinFung' target='blank' rel='noopener noreferrer'><i class='fab fa-facebook-f social-fab'></i><span class='medium-text'>Gervin Fung</span></a></div>
                <div><a href='https://www.instagram.com/poolofdeath20/' target='blank' rel='noopener noreferrer'><i class='fab fa-instagram social-fab'></i><span class='medium-text'>PoolOfDeath20</span></a></div>
                <div><a href='https://github.com/GervinFung' target='blank' rel='noopener noreferrer'><i class='fab fa-github social-fab'></i><span class='medium-text'>Gervin Fung</span></a></div>
            </section>

            <!--========== PROFILE ==========-->
            <section class='profile section'>
                <h1 class='section-title'>Profile</h1>
                <p class='summary medium-text'>A Software Engineering Undergraduates seeking a internship position in an organisation with a professional work-driven environment where I can utilise and improve my current knowledge and skills, and fulfill the organisational goals along the way.</p>
            </section>

            <!--========== INTERESTS ==========-->
            <section class='interest section'>
                <h1 class='section-title'>Interests</h1>
                <div class='interests'>
                    <div class='rows'>
                        <div><i class='fas fa-headphones interest-fas'></i></div>
                        <p class='medium-text'>Music</p>
                    </div>
                    <div class='rows'>
                        <div><i class='fas fa-dumbbell interest-fas'></i></div>
                        <p class='medium-text'>Workout</p>
                    </div>
                    <div class='rows'>
                        <div><i class='fas fa-book interest-fas' aria-hidden='true'></i></div>
                        <p class='medium-text'>Comics</p>
                    </div>
                </div>
            </section>

        </div>
        <div class='resume-right resume-section'>
            <!--========== SKILLS  ==========-->
            <section class='skills section'>
                <h1 class='section-title'>Programming Languages</h1>
                <ul>
                    <li>TypeScript & JavaScript</li>
                    <li>Java</li>
                    <li>C#</li>
                    <li>Python</li>
                </ul>
            </section>

            <!--========== TECHNOLOGIES  ==========-->
            <section class='technologies section'>
                <h1 class='section-title'>Technologies</h1>
                <ul>
                    <li>JavaFX & Java Swing & JUnit & Gradle</li>
                    <li>React & React Native & NodeJS & Jest</li>
                    <li>Basic Linux & Git Commands</li>
                    <li>Basic MySQL, SQL & MongoDB</li>
                </ul>
            </section>

            <!--========== ACHIEVEMENTS  ==========-->
            <section class='achievement section'>
                <h1 class='section-title'>Achievements</h1>
                <ul>
                    <li>Building an Intelligent Room Finder System through collaboration with a friend</li>
                    <li>Built a cross-platform chess game with Java Game Framework - LibGDX Framework</li>
                    <li>Dean's List for January 2021 Trimester</li>
                    <li>Built a functional Notepad similar to Window's Notepad in Java Swing and JavaFX</li>
                    <li>Built my very own website</li>
                </ul>
            </section>

            <!--========== PERSONALS  ==========-->
            <section class='personal section'>
                <h1 class='section-title'>Personal Skills</h1>
                <ul>
                    <li>Proficient verbal communication skills in English, Mandarin and Cantonese; satisfactory in Malay.</li>
                    <li>Excellent writing skills in English and Mandarin; satisfactory in Malay.</li>
                    <li>Highly organised.</li>
                    <li>Able to learn new skills efficiently.</li>
                    <li>Able to work independently or as part of a team.</li>
                    <li>Able to take on and fulfill own responsibilities.</li>
                </ul>
            </section>

            <!--========== EDUCATION ==========-->
            <section class='education section'>
                <h1 class='section-title'>Education</h1>
                <div class='education-level'>Bachelor of Science (Honours) Software Engineering (May 2019 - Present)</div>
                <div class='school'>Universiti Tunku Abdul Rahman</div>
                <ul>
                    <li>CGPA - 3.4356</li>
                    <li>GPA - 3.7033</li>
                </ul>
                <div class='education-level'>SPM(2017)</div>
                <div class='school'>S. M. Chung Hwa Tenom</div>
                <ul><li>7As 3Bs</li></ul>
            </section>

            <!--========== REFERENCES ==========-->
            <section class='references section'>
                <h1 class='section-title'>References</h1>
                <div class='refers'>
                    <div class='refer-lecturer'>
                        <div class='lecturer-name'>Mr Wong Chim Chwee</div>
                        <div class='lecturer-position'>Assistant Professor</div>
                        <ul>
                            <li>Phone: 03-90860288</li>
                            <li>Email: wongcc@utar.edu.my</li>
                        </ul>
                    </div>
                    <div class='refer-lecturer'>
                        <div class='lecturer-name'>Ms Gunavathi a/p Duraisamy</div>
                        <div class='lecturer-position'>Lecturer</div>
                        <ul>
                            <li>Phone: 017-6639798</li>
                            <li>Email: gunavathi@utar.edu.my</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    const downloadResume = document.getElementById('download-link');
    downloadResume.addEventListener('click', () => {
        downloadResume.href = `files/resume/GervinFungDaXuenResume_UTAR_${JSON.parse(sessionStorage.getItem('THEME_KEY')) ? 'light' : 'dark'}.pdf`;
    });
</script>